/*  SECTIONS  */
.section {
	clear: both;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	/*margin: 0 0 0 0*/ /*originally 1% 0 1% 1.8%*/
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF SIX  */
.span_6_of_6 {
	width: 100%;
}

.span_5_of_6 {
  	width: 83.03%;
}

.span_4_of_6 {
  	width: 66.06%;
}

.span_3_of_6 {
  	width: 49.1%;
}

.span_2_of_6 {
  	width: 32.13%;
}

.span_1_of_6 {
  	width: 15.16%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 0% 0 0% 0%; }
	.span_1_of_6, .span_2_of_6, .span_3_of_6, .span_4_of_6, .span_5_of_6, .span_6_of_6 { width: 100%; }
}



/*START ACTUAL CSS STUFF HERE*/
body {
	font-size: 12pt;
	font-family: 'franklin-gothic-urw', sans-serif;
	
}

canvas {
	z-index: 1;
}

#logo {
	display: block;
	margin: auto;
	padding-top: 25%;
	width: 60%;
	/*position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -60%);*/
}

#intro {
	width: calc(100vw);
	/*height: 96px;*/
	position: fixed;
    top: 0px;
    left: 0px;
	padding: 0 5%;
	z-index: 99999;

}

#intro a {
    text-decoration: none;
	text-align: center;
	font-weight: 300;
	font-size: 1.5rem;
	display: inline-block;
	padding-top: 36px;
    padding-bottom: 36px;
	width: 25%;
	float: left;
    color: #000;
	text-transform: uppercase;
}

#landingCanvas {
	margin: -1.8% 0 0; /*96px to go past header bar; -1.8% to offset .col's right margin*/
	height: calc(100vh - 96px);
}

#landingCanvas p {
	text-align: center;
	font-weight: 600;
}

#landingCanvas p:first-child {
	font-size: 10.0rem;
	color: #20373D;
	padding: 16% 0 20px;
}

#landingCanvas p:nth-child(2) {
	font-size: 1.8rem;
	color: #20373D;
}

#landingCanvas p:nth-child(2) span{
	font-size: 3.6rem;
	border-bottom: 7px solid #20373D;
}

#summary {
	width: calc(100vw);
	margin-top: 100vh;
	height: auto;
	box-sizing: border-box;
	padding: 5% 10% 10% 10%;
	background: #4B21EB;
	z-index: 99999;
}

h1 { 
	font-size: 1.3rem;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 36px;
	letter-spacing: 1px;
}

b {
	font-weight: 700;
}

#aboutheader {
	width: calc(100vw);
	box-sizing: border-box;
	padding: 5% 10% 0;
    background-color: #ffe2ff;
}

.bodycopy {
	font-size: 3.6rem;
	font-weight: 700;
	line-height: 4.4rem;
	margin-bottom: 36px;
}

.bodycopy:last-child {
	margin-bottom: 0;
}

.bodycopy_sm {
    font-size: 1.8em;
    line-height: 1.7em;
    font-weight: 300;
}

#about {
	width: calc(100vw);
	box-sizing: border-box;
	padding: 0 10% 10%;

	height: auto;

	-webkit-column-count: 2;
	   -moz-column-count: 2;
			column-count: 2;

	-webkit-column-gap: 108px;
	   -moz-column-gap: 108px;
			column-gap: 108px;
	vertical-align: top;
    background-color: #ffe2ff;
}

span {
	font-size: 2.0rem;
	line-height: 0rem;
	font-style: italic;
}

#comeback, #contact {
	width: calc(100vw);
	margin-bottom: 0;
	box-sizing: border-box;
	height: auto;
	padding: 10% 10%;
	background: #FF513E;
	z-index: 99999;
}

#contact {
	background: #FF513E;;
}

.logo {
    position: absolute;
    z-index: 10;
    width: 70%;
    top: calc(50% - 85px);
    left: 15%;
    right: 15%;
}

#blablab2018 {
    padding: 5% 10%;
}


/*MEDIA QUERIES*/
@media only screen and (max-width: 1280px) {
	#intro a {
		display: block;
		width: 25%;
		text-align: center;
		font-size: 1.4rem;
	}

    .bodycopy  {
    	font-size: 3.6rem;
    	line-height: 4.4rem;
    }
    
    .bodycopy_sm  {
    	font-size: 1.8rem;
    	line-height: 2.7rem;
    }

   
    #about {
    	-webkit-column-count: 1;
	       -moz-column-count: 1;
			    column-count: 1;
        background-color: #ffe2ff;
    }

    span {
    	font-size: 1.5rem;
    	line-height: 1.8rem;
    }
}

@media only screen and (max-width: 720px) {
    #intro {
        padding: 1% 5%;
    }
    
    #intro a {
		width: 100%;
		font-size: 0.8rem;
		padding: 10px 0;
	}

	.bodycopy {
		font-size: 1.4rem;
		line-height: 2.2rem;
	}
    
    .bodycopy_sm {
    font-size: 1.4rem;
    line-height: 2.2rem;
    }

	h1 { 
		font-size: 1.0rem;
	}

	span {
		font-size:1.2rem;
		line-height: 1.4rem;
	}

    .logo {
    top: calc(50% - 30px);
}
    
    #summary, #comeback, #contact {
    	padding-top: 12%;
    	padding-bottom: 12%;
    }

    #aboutheader { 
    	padding-top: 12%;
   	}

   	#about {
   		padding-bottom: 12%;
        background-color: #ffe2ff;
   	}
}

* {
  box-sizing: border-box;
}


/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.slideContainer {
    position: relative;
}
